#!/bin/sh
set -eu

# Host directory mounted as the sandboxed HOME.
host_home=${MIRO_HOST_HOME:?}
# Host temp directory mounted read-write inside the sandbox.
host_tmp=${MIRO_HOST_TMP:?}
# PATH value forwarded into the sandbox so required tools stay available.
path_env=${MIRO_PATH_ENV:?}
visible_home=${MIRO_VISIBLE_HOME:?}

set -- \
  --ro-bind / / \
  --tmpfs /home \
  --bind "$host_home" "$visible_home" \
  --bind "$host_tmp" '/tmp' \
  --dev /dev \
  --proc /proc \
  --unshare-pid \
  --die-with-parent \
  --setenv HISTFILE '/dev/null' \
  --setenv HOME "$visible_home" \
  --setenv LANG 'C' \
  --setenv LC_ALL 'C' \
  --setenv PAGER 'cat' \
  --setenv PATH "$path_env" \
  --setenv PS1 '$ ' \
  --setenv TERM 'xterm-256color' \
  --setenv TMPDIR '/tmp' \
  --setenv TZ 'UTC' \
  --chdir "$visible_home"

exec bwrap "$@" bash --noprofile --norc -i
